.hobbies{
    padding: 3rem 3rem;
    background-color: lightgrey;
}
.hobbies-title{
    text-align: center;
    font: 2rem sans-serif;
}
@media (max-width:430px){
    .hobbies{
        visibility: hidden;
        height: 0;
        padding: 0;
    }
}