.formacion-academica{
    padding: 3rem 3rem;
    background-color: lightgray;

}
.formacion-academica-titulo{
    text-align: center;
    font: 2rem sans-serif;
}
@media (max-width:430px){
    .formacion-academica{
        padding: 1rem;
    }
}