.home{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.home-logo{
    margin-right: 1rem;
}
.home-title{
    margin-right: 1rem;
    font: 1.15rem sans-serif;
    text-decoration: none;
    color: white;
    padding: 2rem 0;
}
@media (min-width:430px) and (max-width:768px){
    .home{
        padding: 0;
    }
}