.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color:black ;
}
@media (min-width:430px) and (max-width:768px) {
    .box-header{
        flex-direction: column;
    }
}