.exp-prof{
    padding: 3rem 3rem;
    background-color: lightgray;
}
.exp-prof-title{
    text-align: center;
    font: 2rem sans-serif;
}
@media (max-width:430px){
    .exp-prof{
        padding: 1rem;
    }
}
