.skills{
    padding: 3rem 3rem;
    background-color: #4B4B4B;
}
.skills-title{
    text-align: center;
    font: 2rem sans-serif;
    color: white;
}
.skills-lista-item{
    color: slategray;
}
@media (max-width:430px){
    .skills{
        padding: 1rem;
    }
}